Repository amawai/android-wikipedia-390, pull requests merged in 2018-04, with the labels that each got.

#105 Static Analysis Integration into CI Environment
  .travis.yml
  app/build.gradle
Labels: CI, enhancement, environment

#106 Update of README.md to include static analysis tool and team's wiki access
  README.md
Labels: environment

#108 Implementation of Image Search
  README.md
  app/src/androidTest/java/org/wikipedia/espresso/imagesearch/ImageSearchFragmentTest.java
  app/src/androidTest/java/org/wikipedia/espresso/imagesearch/ImageSearchTest.java
  app/src/androidTest/java/org/wikipedia/espresso/notes/ArticleNoteTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/wikipedia/Constants.java
  app/src/main/java/org/wikipedia/feed/FeedFragment.java
  app/src/main/java/org/wikipedia/feed/searchbar/SearchCardView.java
  app/src/main/java/org/wikipedia/imagesearch/Encoder.java
  app/src/main/java/org/wikipedia/imagesearch/ImageLabeler.java
  app/src/main/java/org/wikipedia/imagesearch/ImageSearchActivity.java
  app/src/main/java/org/wikipedia/imagesearch/ImageSearchFragment.java
  app/src/main/java/org/wikipedia/main/MainFragment.java
  app/src/main/java/org/wikipedia/search/SearchInvokeSource.java
  app/src/main/java/org/wikipedia/settings/Prefs.java
  app/src/main/java/org/wikipedia/settings/SettingsPreferenceLoader.java
  app/src/main/java/org/wikipedia/util/PermissionUtil.java
  app/src/main/res/layout/fragment_imagesearch.xml
  app/src/main/res/layout/fragment_main.xml
  app/src/main/res/layout/item_imagesearch_labels.xml
  app/src/main/res/layout/view_search_bar.xml
  app/src/main/res/values/preference_keys.xml
  app/src/main/res/xml/preferences.xml
  app/src/test/java/org/wikipedia/imagesearch/EncoderTest.java
Labels: search-by-image

#109 Improvements to Trip Planner Layout
  README.md
  app/src/androidTest/java/org/wikipedia/espresso/travel/LandmarkCheckboxTest.java
  app/src/androidTest/java/org/wikipedia/travel/database/DestinationDbHelperTest.java
  app/src/main/java/org/wikipedia/database/Database.java
  app/src/main/java/org/wikipedia/database/contract/UserLandmarkContract.java
  app/src/main/java/org/wikipedia/travel/MainPlannerFragment.java
  app/src/main/java/org/wikipedia/travel/PlannerFragmentPagerAdapter.java
  app/src/main/java/org/wikipedia/travel/database/TripDbHelper.java
  app/src/main/java/org/wikipedia/travel/database/UserLandmark.java
  app/src/main/java/org/wikipedia/travel/database/UserLandmarkTable.java
  app/src/main/java/org/wikipedia/travel/landmarkpicker/LandmarkFragment.java
  app/src/main/res/layout/fragment_travel_destination_picker.xml
  app/src/main/res/layout/fragment_travel_landmark_picker.xml
  app/src/main/res/layout/fragment_travel_trip.xml
  app/src/main/res/layout/item_trip_list.xml
  app/src/main/res/layout/view_card_travel_landmark_picker_landmarks.xml
Labels: enhancement, trip-planning

#110 Addition of Landmark Storage Functionality
  README.md
  app/src/androidTest/java/org/wikipedia/espresso/travel/LandmarkCheckboxTest.java
  app/src/androidTest/java/org/wikipedia/travel/database/DestinationDbHelperTest.java
  app/src/androidTest/java/org/wikipedia/travel/database/TripWithLandmarkDbHelperTest.java
  app/src/main/java/org/wikipedia/travel/MainPlannerFragment.java
  app/src/main/java/org/wikipedia/travel/destinationpicker/DestinationFragment.java
  app/src/main/java/org/wikipedia/travel/landmarkpicker/LandmarkFragment.java
Labels: enhancement, trip-planning

#111 Addition of Test Coverage for Sprint 6 to the Release 3 Stage
  .travis.yml
Labels: CI, environment

#112 Implementation of Sprint 6 Features
  .travis.yml
  README.md
  app/build.gradle
  app/src/androidTest/java/org/wikipedia/espresso/imagesearch/ImageSearchFragmentTest.java
  app/src/androidTest/java/org/wikipedia/espresso/imagesearch/ImageSearchTest.java
  app/src/androidTest/java/org/wikipedia/espresso/notes/ArticleNoteTest.java
  app/src/androidTest/java/org/wikipedia/espresso/travel/DestinationHistoryEspressoTest.java
  app/src/androidTest/java/org/wikipedia/espresso/travel/LandmarkCheckboxTest.java
  app/src/androidTest/java/org/wikipedia/travel/database/DestinationDbHelperTest.java
  app/src/androidTest/java/org/wikipedia/travel/database/TripWithLandmarkDbHelperTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/wikipedia/Constants.java
  app/src/main/java/org/wikipedia/database/Database.java
  app/src/main/java/org/wikipedia/database/contract/DestinationContract.java
  app/src/main/java/org/wikipedia/database/contract/UserLandmarkContract.java
  app/src/main/java/org/wikipedia/feed/FeedFragment.java
  app/src/main/java/org/wikipedia/feed/searchbar/SearchCardView.java
  app/src/main/java/org/wikipedia/imagesearch/Encoder.java
  app/src/main/java/org/wikipedia/imagesearch/ImageLabeler.java
  app/src/main/java/org/wikipedia/imagesearch/ImageSearchActivity.java
  app/src/main/java/org/wikipedia/imagesearch/ImageSearchFragment.java
  app/src/main/java/org/wikipedia/main/MainFragment.java
  app/src/main/java/org/wikipedia/search/SearchInvokeSource.java
  app/src/main/java/org/wikipedia/settings/Prefs.java
  app/src/main/java/org/wikipedia/settings/SettingsPreferenceLoader.java
  app/src/main/java/org/wikipedia/travel/MainPlannerFragment.java
  app/src/main/java/org/wikipedia/travel/PlannerFragmentPagerAdapter.java
  app/src/main/java/org/wikipedia/travel/database/DestinationDatabaseTable.java
  app/src/main/java/org/wikipedia/travel/database/DestinationDbHelper.java
  app/src/main/java/org/wikipedia/travel/database/TripDbHelper.java
  app/src/main/java/org/wikipedia/travel/database/UserLandmark.java
  app/src/main/java/org/wikipedia/travel/database/UserLandmarkTable.java
  app/src/main/java/org/wikipedia/travel/destinationpicker/DestinationFragment.java
  app/src/main/java/org/wikipedia/travel/landmarkpicker/LandmarkFragment.java
  app/src/main/java/org/wikipedia/travel/trip/Trip.java
  app/src/main/java/org/wikipedia/util/PermissionUtil.java
  app/src/main/res/layout/fragment_imagesearch.xml
  app/src/main/res/layout/fragment_main.xml
  app/src/main/res/layout/fragment_travel_destination_picker.xml
  app/src/main/res/layout/fragment_travel_landmark_picker.xml
  app/src/main/res/layout/fragment_travel_trip.xml
  app/src/main/res/layout/item_imagesearch_labels.xml
  app/src/main/res/layout/item_trip_list.xml
  app/src/main/res/layout/view_card_travel_landmark_picker_landmarks.xml
  app/src/main/res/layout/view_search_bar.xml
  app/src/main/res/layout/view_travel_destination_picker_saved_destinations.xml
  app/src/main/res/values/preference_keys.xml
  app/src/main/res/xml/preferences.xml
  app/src/test/java/org/wikipedia/imagesearch/EncoderTest.java
Labels: CI, search-by-image, trip-planning
